MicroservicesBootcampTechnicalAssessment-master/CustomerAccounts/LOG_PATH_IS_UNDEFINED/customer-accounts.log
MicroservicesBootcampTechnicalAssessment-master/CustomerAccounts/logs/customer-accounts.log
